page-cities-beaches {
	/* CSS information for slide background color and Pager color*/
	.slides{
	     background-color: white;
	     padding: 0;
	  	 height: 100%;
	}
	.swiper-pagination-bullet-active {
		opacity: 1;
	}
	.swiper-pagination-bullet {
		background: white;
	}
	/*header style*/
	.toolbar-background{
		background-color: transparent;
	}
	/*Font information for Logo and Button*/
	.app-title{
		font-family:OpenSans-Semibold;
		font-size:16.2px;
		color:#ffffff;
		line-height:22px;
		text-align:center;
		top: 28px;
	}
	.app-bottom{
		font-family:OpenSans;
		font-size:12.79px;
		color:#ffffff;
		letter-spacing:0.21px;
		line-height:18px;
		text-align:center;
		padding-bottom: 10%;
		align-items: center;
	}
	/*Font information for travel type*/
	.Noronha1{
		background-image: url(../../assets/bg_fernandodenoronha1.png);
		background-repeat: no-repeat;
		background-size: cover;
		font-family:OpenSans;
		font-size:27.29px;
		color:#ffffff;
		line-height:8.53px;
		padding-top: 90%;
		text-align:left;
		
	}

	.Noronha2{
		background-image: url(../../assets/bg_fernandodenoronha2.png);
		background-repeat: no-repeat;
		background-size: cover;
		font-family:OpenSans;
		font-size:27.29px;
		color:#ffffff;
		line-height:8.53px;
		padding-top: 90%;
		text-align:left;
	}


}
