page-hotels-list {
	/*header style*/
	.toolbar-background{
		background-image: url("../assets/navbar.png");
		background-repeat: no-repeat;
		background-size:cover;
	    padding: 0;
	  	height: 100%;
	}
	.white-icon{
		color : white;
	}
	.app-title{
		font-family:OpenSans-Semibold;
		font-size:16.2px;
		color:#ffffff;
		line-height:22px;
		text-align:center;
	}
	/* Card styling, keep font centralized on card*/
 	ion-card {
	    position: relative;
	    text-align: center;
 	}
 	.card-title {
	    position: absolute;
	    top: 40%;
	    left: 26px;
	    font-family:AppleSystemUIFont;
		font-size:17.06px;
		color:#ffffff;
		letter-spacing:0.14px;
		line-height:18px;
		text-align:left;
 	}

 	.card-subtitle {
	    font-size: 1.0em;
	    position: absolute;
	    top: 55%;
	    left:26px;
	    width: 100%;
	    font-family:HelveticaNeue;
		font-size:11.08px;
		color:#ffffff;
		line-height:12px;
		text-align:left;
 	}

}
