page-hotels-map {

	.toolbar-background{
		background-image: url("../../assets/navbar.png");
		background-repeat: no-repeat;
		background-size:cover;
	    padding: 0;
	  	height: 100%;
	}
	.white-icon{
		color : white;
	}
	.app-title{
	font-family:OpenSans-Semibold;
	font-size:16.2px;
	color:#ffffff;
	line-height:22px;
	text-align:center;
	}

	.scroll {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }

}
