page-home {
	.background {
		background-image: url("../assets/bg_login.png");
		background-repeat: no-repeat;
		background-size:contain;
	}

	.button-login{
		font-family:OpenSans;
		font-size:12.8px;
		color:#ffffff;
		line-height:18px;
		text-align:center;
	}
}
