page-home {
	.background {
		background-image: url("../assets/bg_login.png");
		background-repeat: no-repeat;
		background-size:contain;
		scroll-content {
	        display: flex;
	        flex-direction: column;
	        justify-content: center;
	        align-content:stretch;
	    }
	    ion-grid {
        padding: 0;
        height: 100%;
    }
	    ion-row{
	   	align-items:center;
	   	justify-content:center;
	   	padding: 0;
	   }
	    ion-item{
	    	background-color: transparent;
	    }
	}

	.white-icon{
		color : white;
	}
	.app-body{
		font-family:OpenSans-Semibold;
		font-size:12.8px;
		color:#ffffff;
		line-height:18px;
		text-align:center;
		vertical-align: middle;
		text-input-placeholder-color:white;
	}

	.app-login{
		top: 20px;
		font-family:OpenSans;
		font-size:12.8px;
		color:#ffffff;
		line-height:18px;
		text-align:center;
		vertical-align: middle;
		text-input-placeholder-color:white;
	}

	.app-title{
		font-family:OpenSans-Semibold;
		font-size:22.18px;
		color:#ffffff;
		letter-spacing:2.77px;
		line-height:31px;
		text-align:center;
		top: 2.6%;
		height: 33.8%;
		vertical-align: middle;

	}

	.app-bottom{
		font-family:SFUIText-Light;
		font-size:7.99px;
		color:#ffffff;
		line-height:10px;
		align-self: flex-end;
		align-items: flex-end;
		justify-content:flex-end;
		text-align: center;
	}
	.text-input::-moz-placeholder {
		color: white;
		}

	.text-input:-ms-input-placeholder {
	    color: white;
	    }

	.text-input::-webkit-input-placeholder {
	    text-indent: 0;
	    color: white;
		}

}

